@charset "UTF-8";

body {
  font-family: Raleway !important;
  
}

.main-frame {
  margin-top: 5%;
  text-align: center;
  background-color: #fafafa;
  border-radius: 5px;
  font-size: 30px;
  padding: 2% 0% 2% 0%;
}

.duration {
  font-size: 13px;
  font-style: italic;
}

.profile-pic {
  padding: 0% 0% 2% 0%;
}

.quote {
  font-size: 25px;
}

.profile-pic img {
  width: 90px;
  border-radius: 50px;
}

.intro {
  font-size: 21px;
  text-align: none;
  margin-bottom: 2%
}

.links {
  margin: 4% 0% 4% 0%;
}

.link-desc {
  text-align: center;
  margin: 5%;
  font-size: 16px;
}

.override-link {
  color: black;
}

.override-link1 {
  color: rgb(23, 108, 237);
}

.resume-heading {
  background-color: #fafafa;
  border-radius: 5px;
  font-size: 20px !important;
  padding: 1% 0% 1% 0%;
}

.resume-addr {
  font-size: 14px !important;
}

.fa-sm {
  font-size: 90%;
}

.resume-page {
  background-color: #fafafa;
  border-radius: 5px;
  font-size: 25px;
  padding: 1% 0% 1% 0%;
  margin-top: 1%;
}

.resume-set {
  margin-bottom: 25px;
}

.resume-heading {
  font-size: 18px;
}

.resume-pts {
  font-size: 15px;
}

.resume-sub {
  margin-bottom: 1%;
  margin-top: 1%;
}

.back-link {
  margin-top: 3%;
  text-align: center;
}
